:root{
	--inputColor:#bfb;
}

body{
	background:url('../images/golf image 1.jpg');
	background-size:cover;
	background-attachment:fixed;
	font:1.1rem tahoma;
}

a{
	text-decoration: none;
}

a:visited{
	color:rgb(180, 255, 255);
}

#main a:hover, a:focus{
	transform: scale(1.03);
	box-shadow:0 3px 3px 2px rgba(0, 0, 0, 0.467);
	outline:none;
}

#main a:active{
	/* color:lime; */
	transform:scale(1.01);
	box-shadow:0 3px 3px 0px rgba(0, 0, 0, 0.467);
}

span{
	font-size: 70%;
}

#heading{
	font: 6rem Niconne;
	color: rgb(0, 0, 0);
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.467), -0.6px -1.3px 0px rgb(255, 255, 255);
	-webkit-text-stroke: 2px rgb(0, 161, 255);
	margin:-20px 0 0;
}

#main{
	padding:0 50px 50px;
	background:rgba(255, 255, 255, 0.667);
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	justify-content: space-evenly;
}

#search{
	padding: 5px 10px;
	font: 1.1em tahoma;
	outline: none;
	border: 3px inset rgb(255, 255, 255);
	box-shadow: inset 0 0 4px rgb(0, 0, 0);
	border-radius: 3px;
	margin: 10px 0 0;
}

#inputSection{
	display:flex;
	width:100%;
	justify-content: center;
}

#matches{
	width: 100%;
	text-align: center;
	margin:5px;
	font-size: 1.2rem;
}

#matches>span{
	font-size:inherit;
}

#search:focus{
	background: var(--inputColor);
}

#counter{
	position: absolute;
	top: 5px;
	right: 5px;
	pointer-events: none;
	opacity: 0.6;
	width:120px;
}

.button, .key{
	padding:5px 7px;
	margin:4px;
	border-radius:5px;
	background:rgb(121, 156, 121);
	min-width:220px;
	display: inline-block;
	transition: transform 100ms,box-shadow 100ms, opacity 1s;
	text-align:center;
	color:#fff;
}

.key{
	cursor:default;
	user-select: none;
}

.invalid{
	opacity:0.3;
	pointer-events:none;
}

.disabled{
	filter:grayscale(1);
}

.hidden{
	display:none;
}

.new{
	background-color: #c44248;
}

.revised{
background-color:#6AADFE;
}

.updated{
	background-color: #ADAD00;
}

.latest{
	background-color: #FE7936;
}

.newsflash{
	background-color: #C448C4;
}

.spacer{
width:100%;
}
 
@media screen and (max-width:500px){
	#inputSection{
		flex-wrap:wrap;
	}

	#search{
		margin:20px 20px 0;
	}

	#matches{
		margin:10px 0;
	}

	#heading{
		font-size: 4rem;
		-webkit-text-stroke-width: 1px;
	}

}